body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #0a1f32;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
}
